body, html{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: #5518ab;
	box-sizing: border-box;
}
a:hover{
	cursor: pointer;
}
a{
	text-decoration: none;
	color: inherit
}
/*NAVBAR STARTS*/
nav{
	position: fixed;
	top:0;
	width: 100%;
	background-color: white;
	overflow: hidden;
	text-align: center;
	font-family: 'Coiny', cursive;
	z-index: 20;
}
nav a{
	text-decoration: none;
	padding: 15px 25px;	
}	
.navbar a{
	float: left;
}
.navbar .right{
	display: block;
	float: right;
}
.navbar .right a:hover{
	background-color: white;
	border-bottom: 2px solid blue ;
}
.navbar .icon{
	display: none;
}
.newNav{
	border-bottom: 2px solid #2222ff; 
}
.navbarDrop{
	border-bottom: 1px solid blue;
}
.navbarDrop .icon {
	position: absolute;
	right: 0;
	top: 0;
}
.navbarDrop a{
	display: block;
	text-align: left;
}
.navbarDrop .right a:hover{
	background-color:blue; 
}
.nav-header{
	font-weight: 900;
	font-size: 24px;
	height: 26px;
}
.nav-header:first-letter{
	font-family: 'Lobster', cursive;
}
/*NAVBAR ENDS*/
.welcome-section{
	margin-top: 40px;
	min-height: calc(100vh - 56px);
	padding: 15px;
}

.h-img{
	width: 320px;
	height: 320px;
	border-radius: 50%;
}
.sc-1, .sc-2{
	margin-right: auto;
	margin-left: auto;
	width: auto;
	text-align: center;
}
.sc-1{
	margin-top: 15vh;
}
.sc-2 > h1{
	font-size: 1.5em;
}
.animation{
	transition: all 3s;
}
.from-left{
	transform: translateX(-1000px);
}
.from-right{
	transform: translateX(1000px);
}
.social-link{
	padding-right: 5px;
	z-index: 1;
	position: relative;
	color: #5518aa;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
	vertical-align: top;
	z-index: -1;
} 
#particles-js {
	width: 100%;
	height: 100%;
}

/* ABOUT */
.about-section{
	/* background-color: white; */
	min-height: 100vh;
}
.about-section h1{
	text-align: center;
	letter-spacing: 10px;
	font-size: 5vw;
}
.about-container{
	display: flex;
	padding: 10px;
	width: 90vw;
	margin: auto;
}
.about-text{
	padding: 5px;
	font-size: 1.5rem;
	padding-left: 50px;
}
.prog-container{
	display: flex;
}
.progress{
	background-color: burlywood;
	height: 30px;
	margin-bottom: 10px;
	width: 80vw;
	border-radius: 16px;
	margin-bottom: 40px;
}
#skills{
	width: 80vw;
	margin: auto;
}
#skills p, #works > p{
	text-align: center;
	font-family: "ubuntu", sans-serif;
	font-weight: bolder;
	font-size: 1.5rem;
}
.p90{
	width: 90%;
}
.p75{
	width: 75%;
}
.p60{
	width: 60%;
}
.p40{
	width: 40%;
}
.p-bar{
	background-color: #5518aa;
	height: 30px;
	width: 0%;
	border-radius: 16px;
	text-align: center;
	color: white;
}
.skill-img{
	height: 40px;
	width: 50px;
	background-color: white;
	padding-right: 8px;
}
/* WORKS */
.works{
	display: flex;
	flex-wrap: wrap;
	min-height: 95vh;
	margin: 50px;
	justify-content: center;
	color: white;
}
.work{
	border-radius: 10px;
	width: 300px;
	margin: 18px;
	background-color: #424b80;
	color:#c6c8dc;
}
.work:hover{
	transform: scale(1.02);
}
.work h2{
	padding: 8px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.work p{
	padding: 10px;
}
.work > p a:hover{
	color: navajowhite;
}
#works > p{
	width: 100%;
	color: #5518ab;
	margin: 10px;
}
.work-image{
	width: 100%;
	height: 220px;
	border-radius: 10px 10px 0 0;
}
@media screen and (max-width : 590px){
	.works{
		display: block;
	}
	.work{
		width: 100%;
		margin: 18px auto;
	}
}
/* CONTACT SECTION */
.contact-section{
	padding: 25px;
	min-height : 90vh;
	margin-top: 50px;
}
.contact-section h2{
	text-align: center;
	font-size: 2rem;
}
#validation{
	text-align: center;
}
.form-group{
	box-sizing: border-box;
	margin-bottom: 25px;
}
.form{
	display: flex;
	box-sizing: border-box;
	padding-top: 20px;
}
.f1{
	width: 30%;
	margin: 5px;
	box-sizing: border-box;
}
.f2{
	width: 70%;
	margin: 5px;
	box-sizing: border-box;
}
label{
	font-weight: bolder;
}
.input {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
button#submit{
	padding: 12px;
	border-radius: 8px;
	width: inherit;
	font-weight: bold;
	background-color: #5518aa;
	color: #fff;
}
.submit{
	margin: auto;
	width: 100px;
}
button{
	outline: none;
}
button:hover{
	cursor: pointer;
}
.loader {
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid orange;
	width: 10px;
	height: 10px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin: 0 auto;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
@media screen and (max-width: 768px){
	.form{
		display: block;
	}
	.f1, .f2{
		width: 100%;
	}
}

@keyframes progress{
	0%{width: 0%;}
	50%{width: 50%} 
	100%{width: 100%}
}

/* FOOTER */
.footer{
	border-top: 4px solid blanchedalmond;
}
.main-footer{
	text-align: center;
}
.copyright{
	font-style: italic;
	padding: 2px 12px;
	background-color: blanchedalmond;
	font-weight: bold;
}
.contacts{
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
}
.contacts div{
	padding: 8px;
}
.contacts i{
	padding: 4px;
}
.footer a {
	margin: 0 5px;
}
/*MEDIA QUERIES*/
@media screen and (max-width:860px){
	.contacts{
		font-size: 1.2rem;
	}
}
@media screen and (max-width:712px){
	.contacts{
		display: block;
		text-align: center;
	}
}
/* When the screen is less than 600 pixels wide, hide all links and show the icon that triggers the drop-down menu*/
@media screen and (max-width: 600px) {
  .navbar .right{
  	display: none;
  }
  .navbar .icon{
    display: block;
    float: right;
  }
  .navbar a:hover{
	border: none;
  }
}
@media screen and (max-width: 850px){
	.about-container{
		display: block;
	}
	.about-container img{
		margin: 0 auto;
	}
	.about-text{
		padding : 10px;
		font-size: 16px;
	}
	.p-bar, .progress{
		height: 20px;
	}
}
