:root {
	--sec-color : #fff;
	--bg-color : #fff;
	--text-color : #5518ab;
}

[data-theme="dark"] {
	--sec-color : #141f2d;
	--bg-color : #1a2634;
	--text-color : #bfabdcf7;
}

body, html{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: var(--text-color);
	box-sizing: border-box;	
	scroll-behavior : smooth;
	font-family : 'Josefin Sans';
}
body {
	background-color: var(--bg-color);
	transition: all .5s;
}
textarea, input, button {
font-family: inherit;
}
a:hover{
	cursor: pointer;
}
a{
	text-decoration: none;
	color: inherit
}
/* THEME */
.theme-btn {
	position: fixed; 
	right: 20px; 
	bottom: 20px;
	background-color: var(--sec-color);
	border: 0;
	box-shadow: 1px 1px 1px #222, -1px -1px 1px #222;
	padding: 3px;
}
/*NAVBAR STARTS*/
nav{
	position: fixed;
	top:0;
	width: 100%;
	background-color: var(--bg-color);
	overflow: hidden;
	text-align: center;
	z-index: 20;
}
nav a{
	text-decoration: none;
	padding: 15px 25px;	
}	
.navbar a{
	float: left;
}
.navbar .right{
	display: block;
	float: right;
}
.navbar .right a:hover{
	text-shadow : 2px 2px 2px grey;
}
.navbar .icon{
	display: none;
}
.newNav{
	background-color: var(--sec-color);
	box-shadow: 1px 1px 1px rgb(170, 169, 169);
}
.navbarDrop{
	border-bottom: 1px solid blue;
}
.navbarDrop .icon {
	position: absolute;
	right: 0;
	top: 0;
}
.icon  i{
	font-size: 24px;
}
.navbarDrop a{
	display: block;
	text-align: left;
}
.navbarDrop .right a:hover{
	color : var(--bg-color);
	background-color: var(--text-color)
}
.nav-header{
	font-weight: 900;
	font-size: 24px;
	height: 26px;
}
.nav-header:first-letter{
	font-family: 'Lobster', cursive;
}
/*NAVBAR ENDS*/
.welcome-section{
	margin-top: 40px;
	min-height: calc(100vh - 56px);
	padding: 15px;
}

.h-img{
	width: 360px;
	height: auto;
	max-height: 360px;
	border-radius: 50%;
}
.sc-1, .sc-2{
	margin-right: auto;
	margin-left: auto;
	width: auto;
	text-align: center;
}
.sc-1{
	margin-top: 10vh;
}
.sc-2 > h1{
	font-size: 2.4em;
}
.animation{
	transition: all 3s;
}
.from-left{
	transform: translateX(-1000px);
}
.from-right{
	transform: translateX(1000px);
}
.social-link{
	padding-right: 5px;
	z-index: 1;
	position: relative;
	color: var(--text-color);
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
	vertical-align: top;
	z-index: -1;
} 
#particles-js {
	width: 100%;
	height: 100%;
}

/* ABOUT */
.about-section{
	min-height: 100vh;
}
.about-container{
	display: flex;
	padding: 10px;
	width: 90vw;
	margin: auto;
}
.about-text{
	padding: 5px;
	font-size: 1.5rem;
	padding-left: 50px;
}
#skills{
	width: 100vw;
	margin: auto;
}
#skills > p, #works > p, #about > p{
	text-align: center;
	font-weight: bolder;
	font-size: 1.5rem;
}
.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.skill {
	padding: 15px;
	margin: 8px;
	background-color: var(--sec-color);
	box-shadow: 1px 1px 1px #222, -1px -1px 1px #222;
}
.skill img {
	width : 90px;
	height: 90px;
}
.skill-text {
	display: block;
	text-align: center;
	font-weight: bold;
}
/* WORKS */
.works{
	display: flex;
	flex-wrap: wrap;
	min-height: 95vh;
	margin-top: 50px;
	justify-content: center;
}
.work{
	border-radius: 10px;
	width: 300px;
	margin: 9px;
	background-color: #424b80;
	color:#c6c8dc;
	box-shadow: 2px 2px 2px #777, -2px -2px 2px #777;
}
.work:hover{
	transform: scale(1.02);
}
.work h2{
	padding: 8px;
}
.work p{
	padding: 10px;
}
.work > p a:hover{
	color: navajowhite;
}
#works > p{
	width: 100%;
	margin: 10px;
}
.work-image{
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0 0;
}
@media screen and (max-width : 590px){
	.works{
		display: block;
	}
	.work{
		width: 85vw;
		margin: 9px auto;
	}
	.sc-2 > h1{
		font-size: 1.8em;
	}
}
/* CONTACT SECTION */
.contact-section{
	padding: 25px;
	margin-top: 50px;
}
.contact-section h2{
	text-align: center;
	font-size: 2rem;
}
#validation{
	text-align: center;
}
.form-group{
	box-sizing: border-box;
	margin-bottom: 25px;
}
.form{
	display: flex;
	box-sizing: border-box;
	padding-top: 20px;
}
.f1{
	width: 30%;
	margin: 5px;
	box-sizing: border-box;
}
.f2{
	width: 70%;
	margin: 5px;
	box-sizing: border-box;
}
label{
	display: block;
	font-weight: bolder;
	margin-bottom: 10px;
}
.input {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: black;
	background-color: #ccc;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
button#submit{
	padding: 12px;
	border-radius: 8px;
	width: inherit;
	font-weight: bold;
	background-color: #5518aa;
	color: #fff;
}
.submit{
	margin: auto;
	width: 100px;
}
button{
	outline: none;
}
button:hover{
	cursor: pointer;
}
.loader {
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid orange;
	width: 10px;
	height: 10px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin: 0 auto;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
@media screen and (max-width: 768px){
	.form{
		display: block;
	}
	.f1, .f2{
		width: 100%;
	}
}

@keyframes progress{
	0%{width: 0%;}
	50%{width: 50%} 
	100%{width: 100%}
}

/* FOOTER */
.footer{
	border-top: 1px solid blanchedalmond;
}
.main-footer{
	text-align: center;
}
.copyright{
	font-style: italic;
	padding: 2px 12px;
	background-color: var(--sec-color);
	font-weight: bold;
	color: var(--text-color);
}
.contacts{
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
}
.contacts div{
	padding: 8px;
}
.contacts i{
	padding: 4px;
}
.footer a {
	margin: 0 5px;
}
/*MEDIA QUERIES*/
@media screen and (max-width:860px){
	.contacts{
		font-size: 1.2rem;
	}
}
@media screen and (max-width:712px){
	.contacts{
		display: block;
		text-align: center;
	}
}
/* When the screen is less than 600 pixels wide, hide all links and show the icon that triggers the drop-down menu*/
@media screen and (max-width: 600px) {
  .navbar .right{
  	display: none;
  }
  .navbar .icon{
    display: block;
    float: right;
  }
  .navbar a:hover{
	border: none;
	}
	.h-img{
		width: 290px;
		height: 290px;
	}
}
@media screen and (max-width: 850px){
	.about-container{
		display: block;
	}
	.about-container img{
		margin: 0 auto;
	}
	.about-text{
		padding : 10px;
		line-height: 22px;
		font-size: 20px;
	}
	.p-bar, .progress{
		height: 20px;
	}
}
